/* overall page settings */
body, html {
    height: 100%;
    margin: 0;
    color: rgb(146, 143, 143);
    font-family: "muli", sans-serif;
    outline-color: rgb(99, 107, 85);
}
/* header setting with internal grid set-up */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 60px;
    max-height: 20%;
    background-color: whitesmoke;
    display:grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-template-areas: 
    "myStory projects introButton introButton introButton resume contact";
}

header:hover {
    background-color:white;
}
/* grid assignments (kept seperate for clarity purposes) */
#myStory {
    grid-area: myStory;
}

#projects {
    grid-area: projects;
}

#resume {
    grid-area: resume;
}

#introButton {
    grid-area: introButton; 
}

#contact {
    grid-area: contact;
}

/* name button (functions as a home button) */
#introButton:hover {
    letter-spacing: 10px;
    color:  rgb(77, 83, 67);
    font-weight: bold;
    transition-duration: 200ms;
    cursor: pointer;
}

#introButton {
    border: none;
    background-color: transparent;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    color: rgb(99, 107, 85);
    font-size: 170%;
    width: 100%;
    height: 60px;
    letter-spacing: 5px;
    transition-duration: 150ms;
    outline-color: rgb(99, 107, 85);
}

/* Nav bar buttons */
.subHeader:hover {
    letter-spacing: 5px;
    color:  rgb(77, 83, 67);
    font-weight: bold;
    transition-duration: 200ms;
    cursor: pointer;
}

.subHeader {
    border: none;
    background-color: transparent;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    color: rgb(99, 107, 85);
    font-size: 80%;
    width: 100%;
    height: 60px;
    letter-spacing: 3px;
    transition-duration: 150ms;
    font-variant: small-caps;
    outline-color: rgb(99, 107, 85);
}

/* background photo settings for parallax design */
.backOne, 
.backTwo, 
.backThree {
    position: relative;
    opacity: 0.80;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* background photos */
.backOne {
    background-image: url("./pictures/LakeImage.jpg");
    min-height: 100%
}

.backTwo {
    background-image: url("./pictures/TreeImage.jpg");
    min-height: 100%;
}

.backThree {
    background-image: url("./pictures/ForestPath.jpg");
    min-height: 100%;
}

/* containers for content */
.containOne {
    color: rgb(99, 107, 85);
    background-color: whitesmoke;
    text-align: center;
    padding: 5% 10%;
    text-align: justify;
}

.containTwo {
    color:  rgb(99, 107, 85);
    background-color: whitesmoke;
    text-align: center;
    padding: 5% 10%;
    text-align: justify;
    margin: 3%;
}

.containThree {
    color:  rgb(99, 107, 85);
    background-color: whitesmoke; 
    text-align: center;
    padding: 20% 30%;
    text-align: justify;
}

/* container, border, font changes for skillset statements */

.statementBox {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color:  rgb(99, 107, 85);
}


span.border {
    background-color:  rgb(99, 107, 85);
    color: whitesmoke;
    padding: 2%;
    font-size: 120%;
    letter-spacing: 6px;

}

.spanclass {
    background-color: transparent;
    font-size: 130%; 
    color: whitesmoke;
}

/* make headers darker */
h3 {
    letter-spacing: 5px;
    font-variant: small-caps;
    font: 120%;
    color: black;
}

/* Contact link button style */
.buttonStyle {
    border: none;
    background-color:  rgb(99, 107, 85);
    color: whitesmoke;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 6px;
    margin: 20px;
    transition-duration: 150ms;
}

.buttonStyle:hover {
    border: none;
    background-color: whitesmoke;
    color:  rgb(99, 107, 85);
    padding: 18px;
    font-size: 160%;
    letter-spacing: 6px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 150ms;
}

/* picture that will be future headshot and not just a blanket doggo */
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
